<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpotifyMenuBar.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4AAFD5E525235B8100880D6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AAFD5F725235B8400880D6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AAFD60225235B8400880D6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
